[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
google-cloud-vision = "*"
opencv-contrib-python = "*"
scipy = "*"
matplotlib = "*"
google-cloud-storage = "*"
google-cloud-videointelligence = "*"

[dev-packages]

[requires]
python_version = "3.9"
