[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
jupyter-client = "==6.1.12"
notebook = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.7"
